###############################################################################
# Never touch my CrLf line endings, git. NEVER!
###############################################################################
#* text=false