<?xml version="1.0"?>
<configuration>
	
	<appSettings file=".\API\DSInteractive.config"/>
	
	<system.web>
		<compilation debug="true" explicit="true" strict="true" targetFramework="4.0"/>
		<!-- Don't scan for HTML in the requests -->
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
		<httpRuntime/>
	</system.web>
	
	<system.webServer>
		
		<!-- For directories without a Default-Document -->
		<directoryBrowse enabled="true"/>
		
		<!-- Do respond to API-Requests that cause a Server-Side Exception -->
		<httpErrors errorMode="Detailed"/>
		
		<!-- Support for Bootstrap Icons. MIME Types herefor should only configured on one *.config on the Server.
		If they're already present in the machine.config, for instance, then having them here too will actually cause an error. -->
		<staticContent>
			<mimeMap fileExtension=".woff" mimeType="font/woff"/>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
		</staticContent>
		
	</system.webServer>
	
</configuration>