<?xml version="1.0"?>

<!--
	DocScript Interactive Configuration File
	(Referenced by Web.Config)
	-
	There must be a copy of this file in:
		- \DSwebParts\
		- \DSIExecutionSessionWorker\bin\Debug\
-->

<appSettings>
	<add key="DocScriptDatabaseName" value="DSInteractive_DSDev" />
	<add key="DocScriptSQLServer" value="MNLT01\SQLEXPRESS" />
	<add key="ESWorker_EXEPath" value="..\DSIExecutionSessionWorker\bin\Debug\DSIExecutionSessionWorker.exe" />
</appSettings>