<?xml version="1.0"?>

<!--
	DocScript Interactive Configuration File
	(Referenced by DSWebParts\Web.Config and DSIExecutionSessionWorker\app.config)
-->

<appSettings>
	<add key="DocScriptSQLServer" value="." />
	<add key="DocScriptDatabaseName" value="DSInteractive" />
	<add key="ESWorker_EXEPath" value=".\API\ESWorker\DSIExecutionSessionWorker.exe" />
</appSettings>